main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timeDiv {
    align-self: flex-end;
    visibility: hidden;
}
.timeDiv {
    display: inline;
}

h1 {
    padding-top: 50px;
}

button {
    background-color: midnightblue;
    color: white;
}